@using static Portfolio_Box.Models.Shared.SharedLink
@model SharedFile

<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        @if (Model != null)
        {
            <div class="modal-header">
                <partial name="_FileTile" model="@Model" />
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if (Model.Link != null)
                {
                    <div class="row">
                        <div class="col-md-7">
                            <label for="downloadUrl" class="form-label">Download URL <small id="clipMe">(click to copy)</small></label>
                            <input for="downloadUrl" type="text" class="form-control clipboardable" id="downloadUrl" value="@Model.Link.DownloadUri" readonly>
                        </div>
                        <div class="col-md-4">
                            @if (Model.Link.IsExpired)
                            {
                                <label for="expiry" class="form-label expired">Expired</label>
                            }
                            else
                            {
                                <label for="expiry" class="form-label">Expiration</label>
                            }
                            <input for="expiry" type="text" class="form-control" value="@Model.Link.Expiration" readonly>
                        </div>
                        <div class="col-md-1 align-self-end">
                            <button type="button" class="unstyled handle-link" id="deleteLink" data-id="@Model.Link.Id">
                                <img class="scale" alt="" width="24" height="24" src="~/media/bin.png">
                            </button>
                        </div>
                    </div>
                }
                else
                {
                    <form id="createLinkForm" data-id="@Model.Id">
                        <input for="fileId" type="hidden" id="fileId" value="@Model.Id"/>
                        <div class="row">
                            <div class="col-md-7">
                                <label for="downloadUrl" class="form-label">Download URL</label>
                                <input for="downloadUrl" type="text" class="form-control" readonly>
                            </div>
                            <div class="col-md-4">
                                <label for="expiresIn" class="form-label">Expires in</label>
                                <select for="expiresIn" id="expiresIn" class="form-select" asp-items="Html.GetEnumSelectList<ExpiresIn>()"></select>
                            </div>
                            <div class="col-md-1 align-self-end">
                                <button type="submit" class="unstyled handle-link">
                                    <img class="scale" alt="" width="24" height="24" src="~/media/link.png">
                                </button>
                            </div>
                        </div>
                    </form>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger machin" data-bs-dismiss="modal" id="deleteFile" data-id="@Model.Id">Delete</button>
                <a class="btn btn-primary" asp-controller="File" asp-action="DownloadById" asp-route-id="@Model.Id">Download</a>
            </div>
        }
    </div>
</div>