@using static Portfolio_Box.Models.Shared.SharedLink
@model SharedFile

<div class="modal-dialog modal-dialog-centered" id="TESTOR">
    <div class="modal-content">
        @if (Model != null)
        {
            <div class="modal-header">
                <h5 class="modal-title">@Model.OriginalName</h5>
                <h6>@Model.UploadedOn</h6>
                <h6>@Model.Length</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if (Model.Link != null)
                {
                    <div class="row">
                        <div class="col-md-7">
                            <label for="downloadUrl" class="form-label">Download URL <small>(click to copy)</small></label>
                            <input for="downloadUrl" type="text" class="form-control" id="downloadUrl" value="@Model.Link.DownloadUri" readonly>
                        </div>
                        <div class="col-md-4">
                            <label for="expiry" class="form-label">Expiration</label>
                            <input for="expiry" type="text" class="form-control" value="@Model.Link.Expiration" readonly>
                        </div>
                        <div class="col-md-1 align-self-end">
                            <button type="button" onclick="deleteLink(@Model.Id, @Model.Link.Id)">DELETE</button>
                        </div>
                    </div>
                }
                else
                {
                    <form id="createLinkForm" onsubmit="createLink(@Model.Id, $('#expiresIn').val()); return false;">
                        <input for="fileId" type="hidden" id="fileId" value="@Model.Id"/>
                        <div class="row">
                            <div class="col-md-7">
                                <label for="downloadUrl" class="form-label">Download URL</label>
                                <input for="downloadUrl" type="text" class="form-control" readonly>
                            </div>
                            <div class="col-md-4">
                                <label for="expiresIn" class="form-label">Expires in</label>
                                <select for="expiresIn" id="expiresIn" class="form-select" asp-items="Html.GetEnumSelectList<ExpiresIn>()"></select>
                            </div>
                            <div class="col-md-1 align-self-end">
                                <button type="submit">CREATE</button>
                            </div>
                        </div>
                    </form>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="deleteFile(@Model.Id)">Delete</button>
                <a class="btn btn-primary" asp-controller="File" asp-action="DownloadById" asp-route-id="@Model.Id">Download</a>
            </div>
        }
    </div>
</div>